<h4>Original list</h4> 
{{numbers}}

<br>
<br>

Prime
<TheComponent 
	@list={{numbers}}
	@btnAction={{prime}}
/>

<br>
<br>
Odd
<TheComponent 
	@list={{numbers}}
	@btnAction={{odd}}
/>

<br>
<br>
Pow
<TheComponent 
	@list={{numbers}}
	@btnAction={{pow}}
/>
